.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
packages
.Rprofile
Rpackages/*
modr/*
modules/*
m/*
SpaDES.project/*
LandR-tutorials
myModules/*
cache
inputs
outputs
.Rdata
.secret
.secrets
.httr-oauth
.DS_Store
.quarto
