if (file.exists(".Renviron")) readRenviron(".Renviron")

library(config)
library(magrittr)

cacheDir <- config::get("paths")[["cachedir"]]
inputDir <- "inputs"
moduleDir <- "modules"
outputDir <- "outputs"
scratchDir <- config::get("paths")[["scratchdir"]]

endTime <- config::get("params")[["endtime"]]
eventCaching <- c(".inputObjects", "init")
useCloudCache <- config::get("cloud")[["usecloud"]]
useParallel <- 2
