# {{{projName}}}

Summary of project, with a brief description.

## Study Area

![](images/studyArea.png)

## Modules

### Study Area

- add link(s) to (sub)module repo(s)

## Module Group A

- add link(s) to (sub)module repo(s)

## Module Group B

- add link(s) to (sub)module repo(s)
